@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Orbitron:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-white font-inter;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes text-glitch {
  0% {
    text-shadow: 0.5px 0.5px 0px #ff00ff, -0.5px -0.5px 0px #00f3ff;
  }

  25% {
    text-shadow: -0.5px -0.5px 0px #ff00ff, 0.5px 0.5px 0px #00f3ff;
  }

  50% {
    text-shadow: 0.5px -0.5px 0px #ff00ff, -0.5px 0.5px 0px #00f3ff;
  }

  75% {
    text-shadow: -0.5px 0.5px 0px #ff00ff, 0.5px -0.5px 0px #00f3ff;
  }

  100% {
    text-shadow: 0.5px 0.5px 0px #ff00ff, -0.5px -0.5px 0px #00f3ff;
  }
}

.hover-glitch:hover {
  animation: text-glitch 0.4s cubic-bezier(.25, .46, .45, .94) both infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}